@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
section {
    height: 100vh;
    width: 100vw;
    
    background-color: rgba(0, 0, 0, 0.267);
    background-image: url('../_Imagens/espaco.jpg');
    background-size: cover;
    position: absolute;
}
article {
    height: 350px;
    width: 350px;

    background-image: url('../_Imagens/astronauta.png');
    background-size: 300px;
    background-repeat: no-repeat;

    position: relative;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}